@mixin flex-format($direction, $justification, $alignment, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justification;
    align-items: $alignment;
    flex-wrap: $wrap;
}

@mixin gradient($main, $sub) {
    background-color: $main;
    background: linear-gradient(90deg, $main 0%, $sub 100%);
}