// Header background colors
$bg-main-color: #182222;
$bg-sub-color: #193333;
$border-color: #3b5a5a;
$text-color: #dce6e6;

// Layout sizing
$header-height: 110px;
$footer-height: 100px;
$main-height: calc(100vh - calc($header-height + $footer-height));

// Main colors
$main-bg-color: #ddd